In [1]:
# Mention that:
# generally, why doing data analysis/cleaning, we would plot graphs/charts and then analyze data visually. But, 
# here we have to "automate" this process, hence it should be independent of the dataset. (A general approach)

In [2]:
# think of two-standard deviation and standard deviation methods

In [3]:
# handle missing values using median()

In [5]:
# 1. Quantile method (percentile)
# 2. z-score and standard deviation
# 3. IQR method

In [6]:
# need to AUTOMATE the analysis of whether the curve is a "NORMALIZED" ditrubutions or a "UNIFORM" distribution

In [7]:
# our normal apporch would be to plot the graph and see "visually", but this cannot be done here as we are aiming
# for "auto- ML"

In [8]:
# either remove the outliers, or you can modify them by giving them the median() value

In [9]:
# since we dont know the dataset and features beforehand (because its supposed to be auto-ML), we cannot rely on
# multi-variate detection. We need to do "univariate" detection.

In [10]:
# Other advanced techniques for very large datasets include DBSCAN, Isolation Forest

In [15]:
# This fact is known as the 68-95-99.7 (empirical) rule, or the 3-sigma rule.

In [105]:
# here, im removing the outliers since its an automated process and we dont have an idea of the features exactly,
# otherwise we could use other methods such as replacing with median, ect

In [203]:
import pandas as pd

df = pd.read_csv('heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [204]:
for (i, col) in enumerate(df.columns):
    if(df.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())[i]):
        mean = df[col].mean()
        std = df[col].std()
        upper_limit = mean + 3*std
        lower_limit = mean - 3*std
        for ele in df[col]:

            df = df[(df[col] > lower_limit) & (df[col] < upper_limit)]

In [205]:
df
# categorical data / binary data needs special treatment, these cannot be considered outliers

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [206]:
df.shape

(287, 14)

In [194]:
not_normalized = []
n = df.shape[0]

for col in df.columns:
    print(df[col][1])
    #print(int in str(type(df[col][1])))
    mean = df[col].mean()
    std = df[col].std()
    for ele in df[col]:
        if (ele < mean - 3*std or ele > mean + 3*std)  :
            not_normalized.append(col)
            print(col, mean, std, df[col].value_counts()[ele])
            break
            
print(not_normalized)

37

TypeError: 'in <string>' requires string as left operand, not type

In [198]:
df.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())

True

In [63]:
for col in df.columns:
    mean = df[col].mean()
    std = df[col].std()
    upper_limit = mean + 3*std
    lower_limit = mean - 3*std
    for ele in df[col]:
        df = df[(df[col] > lower_limit) & (df[col] < upper_limit)]
        #if ele < lower_limit or ele > upper_limit:
         #   print(col, ele, lower_limit, upper_limit)
          #  break

In [64]:
df.shape

(287, 14)

In [66]:
# plotting techniques: histogram, box plot, violin plot

## Isolation Forest Technique

In [182]:
from sklearn.ensemble import IsolationForest
import numpy as np

In [207]:
df = pd.read_csv('heart.csv')

In [208]:
for (i, col) in enumerate(df.columns):
    if(df.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())[i]):
    
        model=IsolationForest(n_estimators=100, max_samples=3, max_features=1.0)
        model.fit(df[[col]])
    
        df['anomaly']=model.predict(df[[col]])
        df = df[df['anomaly'] != -1]

In [209]:
df.shape

(258, 15)

In [177]:
# contamination needs to be adjusted according to the data.
# contamination (proportion of outliers in the data set) : we can specify if we know how many are present

In [155]:
# The contamination parameter simply controls the threshold for the decision function when a scored data 
# point should be considered an outlier.

In [156]:
# CONTAMINATION paramter is most important

In [ ]:
# Tuning parameters Training -> 1. n_estimators, 2. max_samples, 3.max_features. Testing -> 1. contamination